<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt8aDXoWW_rRW_uE7asvLJfKHpXuZJ62Y</string>
	<key>GCM_SENDER_ID</key>
	<string>943223416438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KasaiRaito.InToThePit</string>
	<key>PROJECT_ID</key>
	<string>intothepit-8db64</string>
	<key>STORAGE_BUCKET</key>
	<string>intothepit-8db64.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943223416438:ios:23900c52970a578e8b6157</string>
	<key>DATABASE_URL</key>
	<string>https://intothepit-8db64-default-rtdb.firebaseio.com</string>
</dict>
</plist>